<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <th:block th:replace="/house/layout :: head__template"/>

  <!-- custom -->
  <link rel="stylesheet" href="../Asset/general/css/create-form.css">

</head>
<body>

<!--    Header-->
<th:block th:replace="/house/layout :: header__template"/>
<div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${message}">
  <span th:text="${message}"></span>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<section class="ftco-section bg-light ftco-no-pt ftco-no-pb" sec:authorize="isAuthenticated()">
  <div class="container-fluid px-md-0">
    <div class="login-form">
      <form method="post" th:action="@{/change-password}" id="changepasswordform"  >

        <div class="form-group">
          <label for="inputPassword">Old Password</label>
          <input type="password" class="form-control" id="inputPassword"  name="oldPassword" placeholder="Old password" required autofocus >
        </div>
        <div class="form-group">
          <label for="inputNewPassword"> New Password</label>
          <input type="password" class="form-control" id="inputNewPassword"  name="newPassword" placeholder="New password ">
        </div><div class="form-group">
        <label for="inputConfirmPassword"> Confirm Password</label>
        <input type="password" class="form-control" id="inputConfirmPassword"  name="confirmPass"
               oninput="checkPassword(this)" placeholder="Confirm password">
      </div>

        <button type="submit" onclick="submitChangepass()" class="btn btn-info">Change Password</button>
<!--        <input th:type="hidden"  th:field="*{id}"/>-->

<!--        <input th:type="hidden"  th:field="*{email}"/>-->
<!--        <input th:type="hidden"  th:field="*{fullName}"/>-->
<!--        <input th:type="hidden"  th:field="*{PIN}"/>-->
<!--        <input th:type="hidden"  th:field="*{address}"/>-->
<!--        <input th:type="hidden"  th:field="*{city}"/>-->
<!--        <input th:type="hidden"  th:field="*{phoneNumber}"/>-->
<!--        <a th:href="@{/signup}" type="submit" class="btn btn-primary">Signup</a>-->
      </form>
    </div>
  </div>
</section>
<script type="text/javascript">
function submitChangepass(inputConfirmPassword){
  if (inputConfirmPassword.value() != $("#inputNewPassword").val()){
    inputConfirmPassword.setCustomValidity("New password do not match !");
  }else {
    inputConfirmPassword.setCustomValidity("")
  }
}
</script>
</body>
</html>