* {box-sizing: border-box}
.fieldSlides {display: none}
.fieldSlides img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 700px;
  position: relative;
  margin: auto;
}

.fieldSlides img
{
  max-height: 450px;
}


/* Next & previous buttons */
.slideshow-container__prev, .slideshow-container__next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.slideshow-container__next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.slideshow-container__prev:hover, .slideshow-container__next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* Number text (1/3 etc) */
.fieldSlides__numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* Main Content */
.other__info
{
  display : flex;
  height: 100%;
}

.other__info--icon
{
  margin-right: 15px;
  padding-top: 10px;
}


h5, h6
{
  font-family: "Poppins", Arial, sans-serif;
  font-style: normal;
}

.other__info p
{
  margin-bottom: 0;
}

p.title
{
  /* font-size: larger; */
  font-family:  Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
  font-weight: 600;
}

.other
{
  margin: 10px 0;
}

/* Container  */
.container
{
  padding: 0 4%; 
}

/* Box Up Message */
.boxUpRight {
  width: 100%;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 12px;
  padding: 24px;
  box-shadow: rgba(0, 0, 0, 0.12) 0 6px 16px;
  font-size: 14px;
  position: relative;
  top: 16px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.boxUpRight__title {
  -webkit-box-align: baseline !important;
  -webkit-box-pack: justify !important;
  -webkit-box-direction: normal !important;
  -webkit-box-orient: horizontal !important;
  display: flex;
  flex-flow: row wrap !important;
  justify-content: space-between !important;
  align-items: baseline !important;
  margin-bottom: 14px !important;
}

.boxUpRight__title--price {
  margin-right: auto;
  white-space: nowrap;
}

.boxUpRight__title--vote
{
  margin-left: auto;
  display: inline-flex;
}

.boxUpRight__title--vote, svg
{
  margin-top: 7%;
  display: inline-flex;
}

.boxUpRight__booking
{
  text-align: center;
}