<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table id = "notes">

    <thead>
    <tr>
        <th>
            id
        </th>
        <th>
            dateContractSign
        </th>
        <th>
            startDay
        </th>
        <th>
            endDay
        </th>
        <th>
            maxPerson
        </th>
        <th>totalPrice</th>
        <th>house_id</th>



    </tr>
    </thead>
    <tbody>
    <tr th:each="contract,rowStat : ${contracts}">
        <td th:text="${contract.id}" ></td>
        <td th:text="${contract.dateContractSign}" ></td>
        <td th:text="${contract.startDay}" ></td>
        <td  th:text="${contract.endDay}"></td>
        <td th:text="${contract.maxPerson}"></td>
        <td th:text="${contract.totalPrice}"></td>

        <td><a th:href="@{/detail-contract/__${contract.id}__}">View</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>